/*
Title: Screen Styles
Author: max@luzuriaga.com
*/

/* ---------------------------------------------------------------------------------------
   Reset
   --------------------------------------------------------------------------------------- */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; font: inherit; vertical-align: baseline; text-decoration: none; }
:focus { outline: 0; }
body { line-height: 1; color: black; background: white; }
nav ul { list-style: none; }
ul { list-style-type: square; }
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
blockquote:before, q:before, { content: '"'; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }
html { -webkit-font-smoothing: antialiased; }
pre { white-space: pre; white-space: pre-wrap; white-space: pre-line; word-wrap: break-word; }
input, select { vertical-align: middle; }
textarea { overflow: auto; }
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
button, input, select, textarea { margin: 0; }
time { display: block; }

/* ---------------------------------------------------------------------------------------
   HTML Elements
   --------------------------------------------------------------------------------------- */

body {
	font-family: "Helvetica", Arial, sans-serif;
	background: #193441;
}
html { overflow-y: scroll; }
label, input[type=button], input[type=submit], button { cursor: pointer; }
em {
	font-style: italic;
}
strong {
	font-weight: bold;
}
#main {
	width: 640px;
	margin: 80px auto;
	/*background: red;*/
}

h1 {
	font-size: 50pt;
	font-weight: bold;
	line-height: 70pt;
	color: #D1DBBD;
}
h2 {
	font-size: 18pt;
	color: #91AA9D;
}

form {
	margin: 20px 0;
}
hr {
	background-color: #D1DBBD;
	height: 1px;
	border: 0;
	margin: 20px 0;
}

/* ---------------------------------------------------------------------------------------
   Index
   --------------------------------------------------------------------------------------- */

input[type=text] {
	float: left;
	background-color: #FCFFF5;
	width: 84%;
	height: 50px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border: 0;
	border-radius: 15px 0 0 15px;
	padding: 0 2%;
	font-size: 16pt;
	color: #193441;
}

.error input[type=text] {
	background-color: #FF8A8A;
}

input[type=submit] {
	float: right;
	width: 16%;
	border: 0;
	color: #D1DBBD;
	background: #3E606F;
	border-radius: 0 15px 15px 0;
	height: 50px;
	font-size: 12pt;
	font-weight: bold;
}
input[type=submit]:hover {
	color: #3E606F;
	background: #D1DBBD;
}

#ideas-count {
	color: #3E606F;
	text-align: center;
	font-size: 14pt;
}

/* ---------------------------------------------------------------------------------------
   Login
   --------------------------------------------------------------------------------------- */

#login_title {
	margin-left: 20%;
	font-weight: bold
}

#login label {
	display: block;
	float: left;
	width: 18%;
	color: #D1DBBD;
	text-align: right;
	font-size: 12pt;
	margin-top: 12px;
	font-style: italic;
}

#login p {
	margin-bottom: 15px;
}

#login input[type=text], #login input[type=password] {
	float: right;
	width: 80%;
	background-color: #FCFFF5;
	height: 40px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border: 0;
	border-radius: 10px;
	padding: 0 2%;
	font-size: 14pt;
	color: #193441;
}

#login input[type=submit] {
	width: 14%;
	border-radius: 10px;
	height: 40px;
}

/* ---------------------------------------------------------------------------------------
   Admin
   --------------------------------------------------------------------------------------- */

header h1 {
	float: left;
}

header a {
	float: right;
	margin-top: 36px;
	text-decoration: none;
	color: #FF8A8A;
	font-weight: bold;
	font-size: 14pt
}
header a:hover {
	opacity: 0.8;
}

.list li {
	color: #FCFFF5;
	margin: 10px 0;
	list-style-type: none;
	background-color: #FF8A8A
}

.list .info {
	background: #3E606F;
	display: block;
	float: left;
	width: 580px;
	padding: 10px;
	line-height: 16pt;
}

.list .name {
	display: block;
	float: left;
}

.list .date {
	display: block;
	float: right;
	font-size: 11pt;
	color: #193441;
}

.list a {
	font-weight: bold;
	font-size: 18pt;
	color: #FCFFF5;
	display: block;
	float: right;
	text-decoration: none;
	width: 40px;
	padding: 8px 0;
	text-align: center
}
.list a:hover {
	color: #193441;
}

/* ---------------------------------------------------------------------------------------
   Etc.
   --------------------------------------------------------------------------------------- */
   
.group:before, .group:after {
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden;
}
.group:after { clear: both; }
.group { zoom: 1; }
img, object, embed {
	max-width: 100%;
}
::-moz-selection {
	background: #FFF;
	color: #444;
	text-shadow: none;
}
::selection {
	background: #FFF;
	color: #444;
	text-shadow: none;
}