<% include layouts/head %>

<div id="main">
	<h1>Have an App Idea?</h1>
	<h2>Submit it here and I might make it!</h2>

	<form action="/submit" method="post" class="group">
		<input type="text" name="idea" />
		<input type="submit" value="Submit" />
	</form>

	<h2 id="ideas-count"><%= count %> ideas submitted</h2>
</div>

<% include layouts/foot %>