<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="description" content="App Idea Creator" />
<meta name="author" content="Max Luzuriaga" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>App Idea Creator</title>

<!-- <link rel="stylesheet" media="screen, projection" href="screen.css" /> -->
</head>
<body>

<h1>Submit your idea!</h1>

<form action="/submit" method="post">
	<input type="text" name="idea" />
	<input type="submit" value="Submit Idea" />
</form>

<ol>
<% ideas.forEach(function(idea) { %>
	<li><%= idea.date %> | <strong><%= idea.name %></strong></li>
<% }) %>
</ol>

<script type="text/javascript" src="/javascripts/lib/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="/javascripts/application.js"></script>
</body>
</html>