<% include layouts/head %>

<div id="main">
	<h1>Have an app idea?</h1>
	<h2>Submit it here and I might make it!</h2>

	<form action="/submit" method="post" class="group">
		<input type="text" name="idea" />
		<input type="submit" value="Submit" />
	</form>

	<p id="ideas-count"><%= count %> ideas submitted</p>
</div>

<script type="text/javascript" src="/javascripts/lib/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="/javascripts/application.js"></script>

<% include layouts/foot %>