<% include layouts/head %>

<h1>Submit your idea!</h1>

<form action="/submit" method="post">
	<input type="text" name="idea" />
	<input type="submit" value="Submit Idea" />
</form>

<ol>
<% ideas.forEach(function(idea) { %>
	<li><%= idea.date %> | <strong><%= idea.name %></strong></li>
<% }) %>
</ol>

<% include layouts/foot %>